rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /mines/{document=**} {
    	allow list: if true;
    }
    match /{path=**}/links/{linkId} {
    	allow read, list: if true;
    }
    match /{path=**}/queries/{queryId} {
    	allow list: if true;
    }
     match /{path=**}/resources/{resourceId} {
    	allow read: if true;
    }
     match /{path=**}/notices/{noticeId} {
    	allow read: if true;
    }
    match /{path=**}/questions/{questionId} {
    	allow list, read: if true;
    }
   	match /{document=**} {
      allow read, list, write, delete, update: if request.auth.uid != null && request.auth.token.firebase.sign_in_provider != "anonymous";
    }
  }
}