#view-information {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 10;
  animation: slideUp .45s ease forwards;
}

#view-information button {
  position: fixed;
  top: var(--spacer);
  left: var(--spacer);
  margin: 0;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: hsl(var(--color-primary));
}

#view-information .content {
  width: 100vw;
  min-height: 100vh;
  max-width: var(--max-width);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  /* background-image: var(--feature-image); */
  background-position: center;
  background-size: cover;
  aspect-ratio: 16/9;
  width: 100%;
  background-repeat: no-repeat;
}

.item {
  margin-top: -10vh;
  width: 100%;
}

.subContent {
  padding: var(--spacer);
}

.header {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: linear-gradient(to top, rgb(255,255,255), rgba(255,255,255, 0));
  padding: var(--spacer);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  min-height: 10vh;
}

@keyframes slideUp {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}