#view-information {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  animation: blur .3s ease-in-out forwards;
  overflow: auto;
}

#view-information button {
  position: fixed;
  top: var(--spacer);
  left: var(--spacer);
  margin: 0;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: hsl(var(--color-primary));
  z-index: 1;
}

#view-information button img {
  width: 90%;
}

#view-information .content {
  width: 100vw;
  min-height: 100vh;
  max-width: var(--max-width);
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  animation: slideUp .4s ease forwards;
}

.feature {
  /* background-image: var(--feature-image); */
  background-position: center;
  background-size: cover;
  aspect-ratio: 16/9;
  width: 100%;
  background-repeat: no-repeat;
}

.item {
  margin-top: -10vh;
  width: 100%;
}

.subContent {
  padding: var(--spacer);
  border-top: 1px solid hsla(var(--color-tertiary), 20%);
  margin-top: var(--spacer);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}
.subContent iframe {
  width: 100%;
  border: none;
  border-radius: var(--border-radius);
  aspect-ratio: 1/1.4142;
}

.header {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: linear-gradient(to top, rgb(255,255,255), rgba(255,255,255, 0));
  padding-top: var(--spacer);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  min-height: 10vh;
}

.header.notice {
  display: flex;
  align-items: center;
  gap: var(--spacer);
}
.header.notice .date {
  display: grid;
  place-items: center;
}
.header.notice .date .month {
  line-height: 1;
}
.header.notice .date .day {
  line-height: 1;
  font-size: 2.75rem;
  font-weight: 600;
  color: hsl(var(--color-primary));
}

@keyframes slideUp {
  0% {
    margin-top: 100vh;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes blur {
  0% {
    background-color: rgba(0,0,0,0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
  }
  100% {
    background-color: rgba(0,0,0,.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}