form {
  background-color: white;
  border-radius: var(--border-radius);
  padding: var(--spacer);
  width: 90vw;
  max-height: 90vh;
  box-shadow: var(--box-shadow);
  overflow: auto;
}

form h2 {
  text-align: center;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

form label,
form input:not([type="checkbox"]),
form textarea {
  display: block;
}

form input:not([type="checkbox"]),
form textarea {
  width: 100%;
  padding: var(--spacer);
  font-size: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid;
}

form input:not([type="checkbox"]):focus,
form textarea:focus {
  outline: 0;
  border-color: hsl(var(--color-primary));
}

form textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 5.5rem;
}

form input, 
form textarea {
  font-family: var(--font-monospace);
}

form label {
  margin-bottom: var(--spacer);
}

.query {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--spacer);
}

.query h3 {
  font-weight: 300;
}

.query img {
  margin-top: calc(var(--spacer) / 2);
  border-radius: var(--border-radius);
}

.query details {
  margin-top: calc(var(--spacer) / 2);
}

.form-success {
  display: none;
  background-color: white;
  padding: 40px 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 90%;
  margin: auto;
}
.form-success h2 {
  margin-bottom: 1rem;
}

.clickable {
  color: hsl(var( --color-primary));
  text-decoration: underline;
}

#queryButtonContainer {
  display: grid;
  gap: calc(var(--spacer) * 2);
  max-width: var(--max-width);
  width: calc(100vw - (var(--spacer) * 2));
  margin: auto;
}

.queryButtonItem {
  background-color: white;
  padding: var(--spacer);
  width: 100%;
  margin: auto;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 0.5rem auto;
  gap: var(--spacer);
  box-shadow: var(--box-shadow);
}

.queryButtonItem .line {
  height: 100%;
  width: 100%;
  background-color: hsl(var( --color-primary));
  border-radius: var(--border-radius);
}

.queryButtonItem p {
  font-size: .9rem;
}
.queryButtonItem a {
  margin: var(--spacer) 0;
  padding: 0.25rem 0.5rem;
  line-height: 1;
  float: right;
}
.queryButtonItem button {
  border: 1px solid;
  padding: 0.25rem 0.5rem;
  margin: var(--spacer) 0;
}