.tabset {
  margin: var(--spacer);
}
.tabset > input {
  display:block; /* "enable" hidden elements in IE/edge */
  position:absolute; /* then hide them off-screen */
  left:-100%;
}

.tabset > ul {
  position:relative;
  list-style:none;
  display:flex;
  margin-bottom: 0.5rem;
}

.tabset > ul li {
  width: 100%;
}

.tabset > ul label {
  border:1px solid hsl(var(--color-tertiary));
}

.tabset > ul label {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-right-width: 0;
  width: 100%;
  text-align: center;
}

.tabset > ul li:first-child label {
  border-radius: 0.5rem 0 0 0.5rem;
}

.tabset > ul li:last-child label {
  border-right-width:1px;
  border-radius: 0 0.5rem 0.5rem 0;
}

.tabset > div {
  position: relative;
  border-radius:0 0.5rem 0.5rem 0.5rem;
}

.tabset > input:nth-child(1):focus ~ ul li:nth-child(1) label,
.tabset > input:nth-child(2):focus ~ ul li:nth-child(2) label,
.tabset > input:nth-child(3):focus ~ ul li:nth-child(3) label,
.tabset > input:nth-child(4):focus ~ ul li:nth-child(4) label,
.tabset > input:nth-child(5):focus ~ ul li:nth-child(5) label,
.tabset > input:nth-child(6):focus ~ ul li:nth-child(6) label,
.tabset > input:nth-child(7):focus ~ ul li:nth-child(7) label,
.tabset > input:nth-child(8):focus ~ ul li:nth-child(8) label,
.tabset > input:nth-child(9):focus ~ ul li:nth-child(9) label {
	color: white;
  border-color: hsl(var(--color-primary));
  background-color: hsl(var(--color-primary));
}

.tabset > input:nth-child(1):checked ~ ul li:nth-child(1) label,
.tabset > input:nth-child(2):checked ~ ul li:nth-child(2) label,
.tabset > input:nth-child(3):checked ~ ul li:nth-child(3) label,
.tabset > input:nth-child(4):checked ~ ul li:nth-child(4) label,
.tabset > input:nth-child(5):checked ~ ul li:nth-child(5) label,
.tabset > input:nth-child(6):checked ~ ul li:nth-child(6) label,
.tabset > input:nth-child(7):checked ~ ul li:nth-child(7) label,
.tabset > input:nth-child(8):checked ~ ul li:nth-child(8) label,
.tabset > input:nth-child(9):checked ~ ul li:nth-child(9) label {
  color: white;
  border-color: hsl(var(--color-primary));
  background-color: hsl(var(--color-primary));
}

.tabset > div > section {
  position:absolute;
  top:-999em;
  left:-999em;
}
.tabset > div > section {
  padding: var(--spacer);
}

.tabset > input:nth-child(1):checked ~ div > section:nth-child(1),
.tabset > input:nth-child(2):checked ~ div > section:nth-child(2),
.tabset > input:nth-child(3):checked ~ div > section:nth-child(3),
.tabset > input:nth-child(4):checked ~ div > section:nth-child(4),
.tabset > input:nth-child(5):checked ~ div > section:nth-child(5),
.tabset > input:nth-child(6):checked ~ div > section:nth-child(6),
.tabset > input:nth-child(7):checked ~ div > section:nth-child(7),
.tabset > input:nth-child(8):checked ~ div > section:nth-child(8),
.tabset > input:nth-child(9):checked ~ div > section:nth-child(9) {
  position:initial;
}

.tabset > ul label {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.card,
.card .info {
  max-width: calc(100vw - (var(--spacer) * 2));
}